{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Henlo maylove</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core_may/css/galeria.css'%}">
</head>
<body>
    <header>
        <!--DONDE IRA LA BARRA DE NAVEGACIÓN-->
    </header>
    
    <div class="w-100 p-3 opc">
      <div class="container">
        <h1 class="title center">Henlo Maylove</h1>
        <p class="center pep">Este es tu regalo de cumpleaños y de verdad espero que te guste.
          Revisa cada una de las opciones, de arriba hacia abajo.
        </p>
      </div>
    </div>
    
    <!--SEPARADOR-->
    <div><br><br></div>

    <div class="container w-auto">
      <h2 class="title center"> Pasado
      </h2>
      <br>
    </div>
    <div class="mx-auto" style="width: 288px;">
      <a href="{% url 'inicio' %}" class="linka"><div class="card" style="width: 18rem;">
        <img src="{% static 'core_may/img/foto1.jpeg' %}" class="card-img-top imga" alt="...">
        <div class="card-body">
          <p class="card-text">Vivimos muchos momentos juntos y son maravillosos, recordemos un poco más</p>
        </div>
      </div></a>
    </div>
    
    <!--SEPARADOR-->
    <div>
      <br><br><br>
    </div>

    <div class="container w-auto">
      <h2 class="title center"> Presente
      </h2>
      <br>
    </div>
    <div class="mx-auto" style="width: 288px;">
        <a href="{% url 'presente' %}" class="linka">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'core_may/img/foto2.jpeg' %}" class="card-img-top imga" alt="...">
            <div class="card-body">
              <p class="card-text">Estamos juntos y hay que seguir juntos</p>
            </div>
          </div>
        </a>
    </div>

        <!--SEPARADOR-->
        <div><br><br><br></div>

    <div class="container w-auto">
      <h2 class="title center"> Futuro
      </h2>
      <br>
    </div>
    <div class="mx-auto" style="width: 288px;">
      <a href="{% url 'futuro' %}" class="linka">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'core_may/img/foto3.jpeg' %}" class="card-img-top imga" alt="...">
          <div class="card-body">
            <p class="card-text">No sabemos exactamente lo que nos espera en el futuro, pero sabemos algo, si estamos juntos, todo estara bien.</p>
          </div>
        </div>
      </a>
    </div>
    <!--SEPARADOR-->
    <div><br><br><br></div>

    <div class="container w-auto">
      <h2 class="title center"> Te amo
      </h2>
      <br>
    </div>
    <div class="mx-auto" style="width: 288px;">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'core_may/img/cartamia.jpeg' %}" class="card-img-top imga" alt="...">
        <div class="card-body">
          <p class="card-text">Te amo demasiado Mayra, eres lo mejor que me ha pasado en la vida</p>
        </div>
      </div>
    </div>
        <!--SEPARADOR-->
        <div><br><br><br></div>

    <div class="container w-auto">
      <h2 class="title center"> Y se que tu me amas
      </h2>
      <br>
    </div>
    <div class="mx-auto" style="width: 288px;">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'core_may/img/cartamayra.jpeg' %}" class="card-img-top imga" alt="...">
        <div class="card-body">
          <p class="card-text">¿Por que lo se? como no saberlo, si me lo demuestras cada dia, me haces reir, me alegras los días, y es maravilloso, es hermoso recibir tu amor.</p>
        </div>
      </div>
    </div>
    <div><br><br></div>
    <div class="container w-auto">
      <h2 class="title center">somos el uno para el otro
      </h2>
    </div>
    <div class="mx-auto" style="width: 288px;">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'core_may/img/arcoiris&jake.jpg' %}" class="card-img-top imga" alt="...">
        <div class="card-body">
          <p class="card-text">Así como Arcoiris y Jake, somos el uno para el otro.</p>
        </div>
      </div>
    </div>
    <div><br><br><br></div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    
</body>
</html>