{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pasado</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core_may/css/video.css' %}">
    <link rel="stylesheet" href="{% static 'core_may/css/galeria.css'%}">
</head>
<body>
    <div><br><br></div>
    <h1 class="title center">¿Recuerdas?</h1>
    <div><br><br><br></div>
    <video class="centvid video" src="{% static 'core_may/img/video/FelizNavidad.mp4' %}" controls></video>
    <!--CANCIONES DEDICADAS-->
    <div class="accordion" id="accordionExample">
        <div class="card noback">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <p class="center pep">CHRISTINA PERRI</p>
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <a href="https://youtu.be/-jhsHJPJj9U"><p class="center">Be my forever</p></a>
            </div>
          </div>
        </div>
        <div class="card noback">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <p class="pep center">MISSIO</p>
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body noback">
              <a href="https://youtu.be/2kCpqy_FIws" class="center"><p class="center">I see you</p></a>
            </div>
          </div>
        </div>
        <div class="card noback">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <p class="center pep">REDBONE</p>
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <a href=""><p class="center">Come and get your love</p></a>
            </div>
          </div>
        </div>
        <div class="card noback">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  <p class="center pep">STARSHIP</p>
                </button>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                  <a href="https://youtu.be/yT6QLyf_f_Y"><p class="center">Nothing's gonna stop us now</p></a>
              </div>
            </div>
          </div>
        <div class="card noback">
            <div class="card-header" id="headingFive">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  <p class="center pep">BMTH</p>
                </button>
              </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
              <div class="card-body">
                  <a href="https://youtu.be/zE9ekx-cv9U"><p class="center">Follow You</p></a>
              </div>
            </div>
          </div>
        <div class="card noback">
            <div class="card-header" id="headingSix">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  <p class="center pep">GRACE VANDERWAAL</p>
                </button>
              </h2>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
              <div class="card-body">
                  <a href="https://youtu.be/zE9ekx-cv9U"><p class="center">Beautiful Thing</p></a>
              </div>
            </div>
          </div>
      </div>
      <div><br><br><br></div>
      <h2 class="title center">Nosotros <img class="svg" src="{% static 'core_may/img/heart.svg' %}" alt=""></h2>
      <br>
      <div class="mx-auto" style="width: 288px;">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'core_may/img/foto4.jpeg' %}" class="card-img-top imga" alt="...">
        </div>
      </div>
      <br>
      <div class="mx-auto" style="width: 288px;">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'core_may/img/foto5.jpeg' %}" class="card-img-top imga" alt="...">
        </div>
      </div>
      <br>
      <div class="mx-auto" style="width: 288px;">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'core_may/img/foto6.jpeg' %}" class="card-img-top imga" alt="...">
        </div>
      </div>
      <br>
      <div class="mx-auto" style="width: 288px;">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'core_may/img/foto7.jpeg' %}" class="card-img-top imga" alt="...">
        </div>
      </div>
      <br>
      <div class="mx-auto" style="width: 288px;">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'core_may/img/foto8.jpeg' %}" class="card-img-top imga" alt="...">
        </div>
      </div>
      <br>
      <div class="mx-auto" style="width: 288px;">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'core_may/img/foto9.jpeg' %}" class="card-img-top imga" alt="...">
        </div>
      </div>
      <br>
      <br>
    <div class="shadow-none p-3 mb-5 rounded"></div>  
    <a class="contan" href="{% url 'home' %}"><button type="button" class="btn btn-success btnconf2">Volver</button></a>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
</body>
</html>